{% extends "global.html" %}
{% load static %}

{% block title %}
    <title>GLAMMER | muslim</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "users/styles/login.css" %}">
{% endblock %}

{% block main %}
    <p class="titleMain">АВТОРИЗАЦИЯ</p>
    <div class="form-container">
        <form method="post" class="form-elements" action="{% url 'users:login' %}">
            <p class="bioMain">- У меня уже есть учётная запись</p>
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}<span class="red">*</span>
                    </label>
                    <div>
                        {{ field }}
                        {% if field.errors%}
                        {% for error in field.errors %}
                            <div class="red">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    
                </div>
            {% endfor %}
            {% csrf_token %}
            <a class="recovery" href="{% url 'users:recovery' %}">Забыли пароль?</a>
            <button class="submitBtn" type="submit">Вход</button>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="info">
            <h3><b>Я - новый покупатель</b></h3>
            <p>&nbsp;- Регистрация на сайте позволит быстро оформлять заказы, управлять заказами через личный кабинет, в полном объеме использовать возможности нашего интернет магазина.</p>
            <a class="buttonForInfo" href="{% url 'users:signin' %}">Регистрация</a>
        </div>
    </div>
{% endblock %}
