{% extends "global.html" %}
{% load static %}

{% block title %}
    <title>GLAMMER | muslim</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "users/styles/verification.css" %}">
{% endblock %}

{% block main %}
    <p class="titleMain">ПОДТВЕРЖДЕНИЕ ПОЧТОВОГО АДРЕСА</p>
    <div class="form-container">
        <form method="post" class="form-elements">
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}<span class="red">*</span>
                    </label>
                    {{ field }}
                </div>
                <span class="fieldError">{{ field.errors }}</span>
            {% endfor %}
            {% csrf_token %}
        </form> 
        <form method="get" action="{% url 'users:resend_code' %}">
            <button type="submit">Отправить код еще раз</button>
        </form>    
        <div class="info">
            <p>Введите код для того, чтобы подтвердить почтовый алрес, который указывали при регистрации. Код остаётся дейстивтелен тольько 30 минут после отправки на почту.</p>
        </div>
    </div>
{% endblock %}