{% extends "global.html" %}
{% load static %}

{% block title %}
    <title>GLAMMER | muslim</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "users/styles/signin.css" %}">
{% endblock %}

{% block main %}
    <p class="titleMain">РЕГИСТРАЦИЯ</p>
    <div class="form-container">
        <form method="post" action="{% url 'users:signin' %}" class="form-elements">
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}<span class="red">*</span>
                    </label>
                    {{ field }}
                </div>
                <span class="fieldError">{{ field.errors }}</span>
            {% endfor %}
            <div class="agreement">
                <input type="checkbox" name="agreement" required>
                <label for="agreement">Переходя к оплате, я подтверждаю, что даю согласие на <a href="#">обработку своих персональных данных.</a></label>
            </div>
            {% csrf_token %}            
            <button class="submitBtn" type="submit">Зарегистрироваться</button>
        </form>
        <div class="info">
            <h3><b>Зачем нужна регистрация?</b></h3>
            <p>&nbsp;- Зарегистрировавшись на сайте Вы сможете получить личный кабинет, что позволит Вам быстрее оформлять заказы в нашем Интернет магазине, так как вся информация о Вас будет доступна в нашем магазине и её не нужно будет повторно вносить.</p>
        </div>
    </div>
{% endblock %}
