main {
    height: 558px;
}

.titleMain {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 40px;
}

form {
    font-size: 23px;
}

.red {
    color: red;
}

.form-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-elements {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 130px;
}

.form-group input {
    height: 30px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: inherit;
    border-radius: 10px;
    padding: 5px 15px;
}

.form-group input:focus {
    outline: none;
}



.info {
    width: 345px;
    height: 95px;
    background-color: #012224;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 50px;
    line-height: 23px;
}

.submitBtn {
    margin-top: 5px;
    margin-left: 130px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 20px;
    border-radius: 10px;
    width: 230px;
    height: 45px;
    font-size: 20px;
}