{% extends "global.html" %}
{% load static %}

{% block title %}
    <title>GLAMMER | {% block page_title %}Muslim{% endblock %}</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "main/styles/main.css" %}">
{% endblock %}

{% block main %}

    <section class="slider-container">
        <article class="slider" id="slider1">
            <div class="slides">
                <div class="slide">
                    <img src="{% static "main/images/САЙТ ГЛЭММЕР-13.jpg" %}" alt="Image 1">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/САЙТ ГЛЭММЕР-14.jpg" %}" alt="Image 2">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/САЙТ ГЛЭММЕР-13.jpg" %}" alt="Image 3">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/САЙТ ГЛЭММЕР-14.jpg" %}" alt="Image 4">
                </div>
            </div>
            <button class="prev" onclick="prevSlide(1)">&#10094;</button>
            <button class="next" onclick="nextSlide(1)">&#10095;</button>
            <div class="dots">
                <span class="dot" onclick="currentSlide(1, 0)"></span>
                <span class="dot" onclick="currentSlide(1, 1)"></span>
                <span class="dot" onclick="currentSlide(1, 2)"></span>
                <span class="dot" onclick="currentSlide(1, 3)"></span>
            </div>
        </article>
        <article class="slider" id="slider2">
            <div class="slides">
                <div class="slide">
                    <img src="{% static "main/images/САЙТ ГЛЭММЕР-14.jpg" %}" alt="Image 1">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/САЙТ ГЛЭММЕР-13.jpg" %}" alt="Image 2">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/САЙТ ГЛЭММЕР-14.jpg" %}" alt="Image 3">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/САЙТ ГЛЭММЕР-13.jpg" %}" alt="Image 4">
                </div>
            </div>
            <button class="prev" onclick="prevSlide(2)">&#10094;</button>
            <button class="next" onclick="nextSlide(2)">&#10095;</button>
            <div class="dots">
                <span class="dot" onclick="currentSlide(2, 0)"></span>
                <span class="dot" onclick="currentSlide(2, 1)"></span>
                <span class="dot" onclick="currentSlide(2, 2)"></span>
                <span class="dot" onclick="currentSlide(2, 3)"></span>
            </div>
        </article>
    </section>

    <section>
        <p href="#" class="newCaps">НОВИНКИ</p>
        <a href="#" class="new">Все новинки</a>
    </section>
    <section class="novinki">
        {% for newProduct in newProducts %}
        <article class="item">
            {% if newProduct.image %}
                {% if newProduct.discount %}
                    <div class="container">
                        <img src="{{ newProduct.image.url }}" alt="{{ newProduct.name }}" class="image">
                        <div class="text">СКИДКА {{ newProduct.discount }}%</div>
                    </div>
                {% else %}
                    <img src="{{ newProduct.image.url }}" alt="{{ newProduct.name }}">
                {% endif %}
            {% else %}
                <img src="main/images/default.jpg" alt="Изображения нет!">
            {% endif %}
            <div class="description">
                <a href="{% url "catalog:product" newProduct.id %}">{{ newProduct.name }}</a>
                <p class="productId">{{ newProduct.productId }}</p>
                <div class="colors">
                    <button>Беж</button>
                    <button>Чёрный</button>
                </div>
                {% if newProduct.discount %}
                    <div class="priceForSell">
                        <p class="oldPrice">{{ newProduct.price }} руб.</p>
                        <p>{{ newProduct.sellPrice }} руб.</p>
                    </div>
                {% else %}
                    <p>{{ newProduct.price }} руб.</p>
                {% endif %}
                
                <button class="cartButton">Добавить в корзину</button>
            </div>
        </article>
        {% empty %}
            <div class="error"><h1>Нет элементов для отображения!</h1></div>
        {% endfor %}
    </section>
    <section class="allNew">
        <a href="" class="buttonNew">
            Посмотреть все новинки
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.10073 9.80399">
                <path d="M0,0,7.05023,2.45114,14.10073,4.902,7.05023,7.35291,0,9.804C2.35793,6.59817,2.40356,3.33138,0,0Z"/>
            </svg>
        </a>
    </section>

    <section>
        <p href="#" class="newCaps discount">СКИДКА!</p>
        <a href="#">Все товары со скидкой</a>
    </section>
    <section class="novinki">
        {% for discountProduct in discountProducts %}
            <article class="item">
                {% if discountProduct.image %}
                    {% if discountProduct.discount %}
                        <div class="container">
                            <img src="{{ discountProduct.image.url }}" alt="{{ discountProduct.name }}" class="image">
                            <div class="text">СКИДКА {{ discountProduct.discount }}%</div>
                        </div>
                    {% else %}
                        <img src="{{ discountProduct.image.url }}" alt="{{ discountProduct.name }}">
                    {% endif %}
                {% else %}
                    <img src="main/images/default.jpg" alt="Изображения нет!">
                {% endif %}
                <div class="description">
                    <a href="{% url "catalog:product" discountProduct.id %}">{{ discountProduct.name }}</a>
                    <p class="productId">{{ discountProduct.productId }}</p>
                    <div class="colors">
                        <button>Беж</button>
                        <button>Чёрный</button>
                    </div>
                    {% if discountProduct.discount %}
                        <div class="priceForSell">
                            <p class="oldPrice">{{ discountProduct.price }} руб.</p>
                            <p>{{ discountProduct.sellPrice }} руб.</p>
                        </div>
                    {% else %}
                        <p>{{ discountProduct.price }} руб.</p>
                    {% endif %}
                    
                    <button class="cartButton">Добавить в корзину</button>
                </div>
            </article>
        {% empty %}
            <div class="error"><h1>Нет элементов для отображения!</h1></div>
        {% endfor %}
        
    </section>
    <div class="allNew">
        <a href="" class="buttonNew">
            Посмотреть все товары со скидкой
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.10073 9.80399">
                <path d="M0,0,7.05023,2.45114,14.10073,4.902,7.05023,7.35291,0,9.804C2.35793,6.59817,2.40356,3.33138,0,0Z"/>
            </svg>
        </a>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'main/scripts/main.js' %}" async></script>
{% endblock %}