{% extends "global.html" %}
{% load static %}

{% block title %}
    <title>GLAMMER | muslim</title>
{% endblock %}

{% block css %}
    {{ block.super }}

{% endblock %}

{% block main %}

    <section class="slider-container">
        <article class="slider" id="slider1">
            <div class="slides">
                <div class="slide">
                    <img src="{% static "main/images/13.jpg" %}" alt="Image 1">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/14.jpg" %}" alt="Image 2">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/13.jpg" %}" alt="Image 3">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/14.jpg" %}" alt="Image 4">
                </div>
            </div>
            <a class="prev" onclick="prevSlide(1)">&#10094;</a>
            <a class="next" onclick="nextSlide(1)">&#10095;</a>
            <div class="dots">
                <span class="dot" onclick="currentSlide(1, 0)"></span>
                <span class="dot" onclick="currentSlide(1, 1)"></span>
                <span class="dot" onclick="currentSlide(1, 2)"></span>
                <span class="dot" onclick="currentSlide(1, 3)"></span>
            </div>
        </article>
        <article class="slider" id="slider2">
            <div class="slides">
                <div class="slide">
                    <img src="{% static "main/images/14.jpg" %}" alt="Image 1">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/13.jpg" %}" alt="Image 2">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/14.jpg" %}" alt="Image 3">
                </div>
                <div class="slide">
                    <img src="{% static "main/images/13.jpg" %}" alt="Image 4">
                </div>
            </div>
            <a class="prev" onclick="prevSlide(2)">&#10094;</a>
            <a class="next" onclick="nextSlide(2)">&#10095;</a>
            <div class="dots">
                <span class="dot" onclick="currentSlide(2, 0)"></span>
                <span class="dot" onclick="currentSlide(2, 1)"></span>
                <span class="dot" onclick="currentSlide(2, 2)"></span>
                <span class="dot" onclick="currentSlide(2, 3)"></span>
            </div>
        </article>
    </section>

    <section>
        <p href="#" class="titleSection">НОВИНКИ</p>
        <a href="#" class="paragrafSection">Все новинки</a>
    </section>
    <section class="catalog">
        {% for newProduct in newProducts %}
        <article class="item">
            {% if newProduct.image %}
                {% if newProduct.discount %}
                    <div class="container">
                        <img src="{{ newProduct.image.url }}" alt="{{ newProduct.name }}" class="image">
                        <div class="discount">СКИДКА {{ newProduct.discount }}%</div>
                    </div>
                {% else %}
                    <img src="{{ newProduct.image.url }}" alt="{{ newProduct.name }}">
                {% endif %}
            {% else %}
                <img src="{% static "images/foto.webp" %}" alt="Изображения нет!">
            {% endif %}
            <div class="description">
                <a href="{% url "products:product" newProduct.id %}">{{ newProduct.name }}</a>
                <p class="productId">{{ newProduct.id }}</p>
                <div class="colors">
                    <a>Беж</a>
                    <a>Чёрный</a>
                </div>
                {% if newProduct.discount %}
                    <div class="priceForSell">
                        <p class="oldPrice">{{ newProduct.price }} руб.</p>
                        <p>{{ newProduct.sellPrice }} руб.</p>
                    </div>
                {% else %}
                    <p>{{ newProduct.price }} руб.</p>
                {% endif %}
                
                <a class="cartButton">Добавить в корзину</a>
            </div>
        </article>
        {% empty %}
            <div class="error"><h1>Нет элементов для отображения!</h1></div>
        {% endfor %}
    </section>
    <section class="all">
        <a href="{% url 'products:news' %}" class="buttonAll">
            Посмотреть все новинки
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.10073 9.80399">
                <path d="M0,0,7.05023,2.45114,14.10073,4.902,7.05023,7.35291,0,9.804C2.35793,6.59817,2.40356,3.33138,0,0Z"/>
            </svg>
        </a>
    </section>

    <section>
        <p href="#" class="titleSection titleDiscount">СКИДКА!</p>
        <a href="#" class="paragrafSection">Все товары со скидкой</a>
    </section>
    <section class="catalog">
        {% for saleProduct in saleProducts %}
            <article class="item">
                {% if saleProduct.image %}
                    {% if saleProduct.discount %}
                        <div class="container">
                            <img src="{{ saleProduct.image.url }}" alt="{{ saleProduct.name }}" class="image">
                            <div class="discount">СКИДКА {{ saleProduct.discount }}%</div>
                        </div>
                    {% else %}
                        <img src="{{ saleProduct.image.url }}" alt="{{ saleProduct.name }}">
                    {% endif %}
                {% else %}
                    <img src="{% static "product_images/foto.png" %}" alt="Изображения нет!">
                {% endif %}
                <div class="description">
                    <a href="{% url "products:product" saleProduct.id %}">{{ saleProduct.name }}</a>
                    <p class="productId">{{ saleProduct.id }}</p>
                    <div class="colors">
                        <a>Беж</a>
                        <a>Чёрный</a>
                    </div>
                    {% if saleProduct.discount %}
                        <div class="priceForSell">
                            <p class="oldPrice">{{ saleProduct.price }} руб.</p>
                            <p>{{ saleProduct.sellPrice }} руб.</p>
                        </div>
                    {% else %}
                        <p>{{ saleProduct.price }} руб.</p>
                    {% endif %}
                    
                    <a class="cartButton">Добавить в корзину</a>
                </div>
            </article>
        {% empty %}
            <div class="error"><h1>Нет элементов для отображения!</h1></div>
        {% endfor %}
        
    </section>
    <div class="all">
        <a href="{% url 'products:sale' %}" class="buttonAll">
            Посмотреть все товары со скидкой
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.10073 9.80399">
                <path d="M0,0,7.05023,2.45114,14.10073,4.902,7.05023,7.35291,0,9.804C2.35793,6.59817,2.40356,3.33138,0,0Z"/>
            </svg>
        </a>
    </div>
    <div>

    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'main/scripts/main.js' %}" async></script>
{% endblock %}