{% extends "global.html" %}
{% load static %}

{% block title %}
    <title>Каталог GLAMMER</title>
{% endblock  %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "products\styles\catalog.css" %}">
{% endblock %}

{% block main %}
    <section class="catalog">
        {% for product in newProducts %}
            <article class="item">
                {% if product.image %}
                    {% if product.discount %}
                        <div class="container">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image" loading="lazy">
                            <div class="discount">СКИДКА {{ product.discount }}%</div>
                        </div>
                    {% else %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy">
                    {% endif %}
                {% else %}
                    {% if product.discount %}
                        <div class="container">
                            <img src="{% static 'images/foto.webp' %}" alt="Изображения нет!" loading="lazy">
                            <div class="discount">СКИДКА {{ product.discount }}%</div>
                        </div>
                    {% else %}
                        <img src="{% static 'images/foto.webp' %}" alt="Изображения нет!" loading="lazy">
                    {% endif %}
                {% endif %}
                <div class="description">
                    <a href="{% url "products:product" product.id %}">{{ product.name }}</a>
                    <p class="productId">{{ product.id }}</p>
                    <div class="colors">
                        <a>Беж</a>
                        <a>Чёрный</a>
                    </div>
                    {% if product.discount %}
                        <div class="priceForSell">
                            <p class="oldPrice">{{ product.price }} руб.</p>
                            <p>{{ product.sellPrice }} руб.</p>
                        </div>
                    {% else %}
                        <p>{{ product.price }} руб.</p>
                    {% endif %}
                    <form method="post" action="{% url 'carts:cart' %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="add">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="cartButton">Добавить в корзину</button>
                    </form>
                </div>
            </article>
        {% empty %}
            <div class="error"><h1>Нет элементов для отображения!</h1></div>
        {% endfor %}
        {% include "pagination.html" with page=page_obj %}
        
    </section>
{% endblock %}