{% extends "global.html" %}
{% load static %}

{% block title %}
    <title>Продукт GLAMMER</title>
{% endblock  %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block main %}
    <article class="item">
        {% if product.image %}
            {% if product.discount %}
                <div class="container">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image">
                    <div class="text">СКИДКА {{ product.discount }}%</div>
                </div>
            {% else %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}
        {% else %}
            <img src="{% static "main/images/default.jpg" %}" alt="Изображения нет!">
        {% endif %}
        <div class="description">
            <a href="{% url "catalog:product" product.productId %}">{{ product.name }}</a>
            <p class="productId">{{ product.productId }}</p>
            <div class="colors">
                <button>Беж</button>
                <button>Чёрный</button>
            </div>
            {% if product.discount %}
                <div class="priceForSell">
                    <p class="oldPrice">{{ product.price }} руб.</p>
                    <p>{{ product.sellPrice }} руб.</p>
                </div>
            {% else %}
                <p>{{ product.price }} руб.</p>
            {% endif %}
            
            <button class="cartButton">Добавить в корзину</button>
        </div>
    </article>
{% endblock %}