{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Каталог GLAMMER</title>
{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "products\styles\catalog.css" %}">
{% endblock css %}

{% block main %}
    <section class="catalog">
        {% for product in saleProducts %}
            {% include "includes/product.html" %}
        {% empty %}
            <div class="error"><h1>Нет элементов для отображения!</h1></div>
        {% endfor %}
        
    </section>
    {% include "includes/pagination.html" with page=page_obj %}
{% endblock main %}