.pagination {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.pagination a svg {
  fill: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
  width: 15px;
  height: 10px;
}

.pagination a:hover svg {
  fill: rgba(255, 255, 255, 0.9)
}

.pagination a {
  display: inline-flex;
  padding: 10px 7px;
}
  
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}