{% extends "global.html" %}
{% load static %}

{% block title %}
    <title>GLAMMER | muslim</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'carts/styles/cart.css' %}">
{% endblock %}

{% block main %}
    <p class="titleForCart">КОРЗИНА</p>
    <table>
        <thead>
            <tr>
                <td>Товар</td>
                <td>Цена за ед.</td>
                <td>Количество</td>
                <td>Стоимость</td>
                <td>
                    <form method="post" action="{% url 'carts:cart' %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="clear">
                        <button type="submit" class="clearCart" title="Очистить корзину">
                            <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.70213 25.70213">
                                <circle cx="12.85106" cy="12.85106" r="12.85106"/>
                                <line x1="6.88298" y1="6.88298" x2="18.81915" y2="18.81915"/>
                                <line x1="18.81915" y1="6.88298" x2="6.88298" y2="18.81915"/>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.items.all %}
                <tr>
                    <td class="fotoAndInfo">
                        {% if item.product.image %}
                            {% if item.product.discount %}
                                <div class="container">
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="image" loading="lazy">
                                    <div class="discount">СКИДКА {{ item.product.discount }}%</div>
                                </div>
                            {% else %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" loading="lazy">
                            {% endif %}
                        {% else %}
                            {% if item.product.discount %}
                                <div class="container">
                                    <img src="{% static 'images/foto.webp' %}" alt="Изображения нет!" loading="lazy">
                                    <div class="discount">СКИДКА {{ item.product.discount }}%</div>
                                </div>
                            {% else %}
                            <img src="{% static 'images/foto.webp' %}" alt="Изображения нет!" loading="lazy">
                            {% endif %}
                        {% endif %}
                        <div class="infoForProduct">
                            <p class="nameForProduct">{{ item.product.name }}</p>
                            <p>Цвет: Черный</p>
                            <p>Размер: 42</p>
                        </div>
                    </td>
                    <td>
                        {% if item.product.discount %}
                            <div class="priceForSell">
                                <p class="oldPrice">{{ item.product.price }} руб.</p>
                                <p>{{ item.product.sellPrice }} руб.</p>
                            </div>
                        {% else %}
                            <p>{{ item.product.price }} руб.</p>
                        {% endif %}
                    </td>
                    <td>
                        <input type="number" value="{{ item.quantity }}">
                    </td>
                    <td>
                        {% if item.product.discount %}
                            <div class="priceForSell">
                                <p class="oldPrice">{{ item.product.price }} руб.</p>
                                <p>{{ item.product.sellPrice }} руб.</p>
                            </div>
                        {% else %}
                            <p>{{ item.product.price }} руб.</p>
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" action="{% url 'carts:cart' %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="remove">
                            <input type="hidden" name="product_id" value="{{ item.product.id }}">
                            <button class="buttonClose" type="submit" title="Удалить товар из корзины">
                                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.70213 25.70213">
                                    <circle cx="12.85106" cy="12.85106" r="12.85106"/>
                                    <line x1="6.88298" y1="6.88298" x2="18.81915" y2="18.81915"/>
                                    <line x1="18.81915" y1="6.88298" x2="6.88298" y2="18.81915"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>Корзина пуста!</tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="" method="">
        <label for="">Код купону или подарочного сертификата</label><br>
        <input type="text">
        <button>Применить</button>
    </form>
    <div>
        <p>Итого: 9898руб.</p>
    </div>
    <button>Оформить</button>
{% endblock %}
